/* 
цвет основного фона - FFFFFF
цвет вторичного фона - F5F4FA
Цвет фона херо  2F303A
цвет текста футера  gba(255, 255, 255, 0.6);
цвет текста шапки( основной текст )  #212121;
цвет текста текста  #757575;
цвет фона кнопки #2196f3
*/
:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --primary-background: #ffffff;
  --sedondary-background: #f5f4fa;
  --hero-footer-background: #2f303a;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --accent-color: #2196f3;
  --background-icons: #f5f4fa;
}
/* Устанавливаем финальные размеры для всех  */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  background-color: var(--primary-background);
  color: var(--secondary-text-color);
}
/* Правильное отображение картинок */
img {
  display: block;
  max-width: 100%;
  height: auto;
}
/* Убираем точки списка */
.list {
  list-style: none;
}
/* Убираем подчеркивание ссылок */
.link {
  text-decoration: none;
}

/* Reset margin pading */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}
.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  /* outline: 2px solid tomato; */
}

/* ----------HEADER---------- */
.header {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}
.site-nav {
  display: flex;
  margin-left: 93px;
}

.site-nav-item:not(:last-child) {
  margin-right: 50px;
}

.logo-second {
  color: var(--accent-color);
}
.page-header {
  border-bottom: 1px solid #ececec;
}
.logo {
  font-family: "Raleway" sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
}
.site-nav .link {
  color: var(--primary-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.site-nav .link.current {
  color: var(--accent-color);
}

.head-nav-link {
  position: relative;
  font-weight: 500;
  line-height: 1.21;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  display: block;
  padding: 32px 0;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.head-nav-link.accent-nav:after {
  position: absolute;
  content: "";
  display: block;
  background-color: var(--accent-color);
  border-radius: 2px;
  width: 100%;
  height: 4px;
  bottom: 0;
  transform: translateY(1px);
}

.auth-nav .link {
  color: var(--secondary-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.head-nav-link:hover,
.head-nav-link:focus {
  color: var(--accent-color);
}

.site-nav .link:hover,
.site-nav .link:focus,
.auth-nav .link:hover,
.auth-nav .link:focus {
  color: var(--accent-color);
}

.auth-nav {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.auth-nav-item:not(:last-child) {
  margin-right: 50px;
}
.link-icon {
  margin-right: 10px;
  fill: var(--secondary-text-color);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:focus .link-icon,
.link:hover .link-icon {
  fill: var(--accent-color);
}

/* ----------HERO---------- */
.hero {
  max-width: 1600px;
  max-height: 600px;
  margin-right: auto;
  margin-left: auto;

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  background-color: var(--hero-footer-background);
  text-align: center;
}
.hero .container {
  padding: 200px 0;
  text-align: center;
}

.hero-title {
  max-width: 695px;
  margin: 0 auto;
  margin-bottom: 30px;

  color: var(--primary-background);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-btn {
  display: block;
  min-width: 200px;
  padding: 10px 32px;
  margin: auto;
  background-color: var(--accent-color);
  color: var(--primary-background);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  border-width: 0px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #188ce8;
}

/* ----------Benefit---------- */
.benefit-list {
  display: flex;
  gap: 30px;
}
/* .benefit-list:not(:last-child){
  margin-right: 30px;
  max-width: 270px; */

.benefits-bg-color {
  width: 270px;
  height: 120px;
  background-color: var(--background-icons);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  border-radius: 4px;
}

.benefits-icon {
  width: 70px;
  height: 70px;
}
.benefit-item {
  width: 270px;
  height: 248px;
}

.benefit {
  padding-top: 94px;
  padding-bottom: 94px;
}

.benefit-title {
  padding-bottom: 10px;

  color: var(--primary-text-color);
  font-weight: 700;

  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.benefit-text {
  color: var(--secondary-text-color);
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* ----------Work-section---------- */
.work-title {
  margin-bottom: 50px;
  text-align: center;
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}
.work-list {
  display: flex;
}
.work-item:not(:last-child) {
  margin-right: 30px;
}
.work-section {
  padding-bottom: 94px;
}
.work-item {
  position: relative;
}

.wokr-app {
  position: absolute;
  width: 370px;
  height: 70px;
  bottom: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  background-color: rgba(47, 48, 58, 0.8);
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-background);
}

/* ----------Team-section---------- */
.team-section {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--sedondary-background);
}
.team-title {
  margin-bottom: 50px;
  text-align: center;

  color: var(--primary-text-color);
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}

.team-list {
  display: flex;
}

.team-member {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}
.position {
  margin-top: 10px;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
}

.team-card {
  background-color: var(--primary-background);
  width: 270px;
  text-align: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-card:not(:last-child) {
  margin-right: 30px;
}
.team-position {
  margin-top: 30px;
}

.team-social {
  display: flex;
  justify-content: center;
  margin-top: 16px;
  padding-bottom: 30px;
  gap: 10px;
}

.team-social-link {
  display: flex;
  width: 44px;
  height: 44px;
  justify-content: center;
  background-color: var(--primary-background);
  align-items: center;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-item {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-link {
}

.team-social-link:hover,
.team-social-link:focus {
  background-color: var(--accent-color);
}

.team-social-link:hover .team-social-item,
.team-social-link:focus .team-social-item {
  fill: #ffffff;
}

/* ----------Clients---------- */
.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-title {
  margin-bottom: 50px;

  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.clients-list {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  gap: 30px;
}

.clients-item {
}
.client-logo-link {
  display: flex;
  width: 170px;
  height: 92px;
  justify-content: center;
  align-items: center;
  fill: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;

  transition-property: fill, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.client-logo-link:hover,
.client-logo-link:focus {
  fill: var(--accent-color);
  border: 1px solid var(--accent-color);
}

/* ----------Footer---------- */
.footer {
  padding: 60px 0;
  background-color: var(--hero-footer-background);
}
.logo-black {
  font-family: "Raleway" sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--primary-background);
}
.footer-address {
  color: var(--primary-background);
  font-weight: 400;
  line-height: 1.71;
  font-style: normal;
  letter-spacing: 0.03em;
}
.footer-contact {
  color: var(--footer-text-color);
  font-weight: 400;
  line-height: 1.71;
  font-style: normal;
  letter-spacing: 0.03em;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-contact:hover,
.footer-contact:focus {
  color: var(--accent-color);
}

.footer-contact {
  margin-top: 20px;
}
.footer-item:not(:first-child) {
  margin-top: 9px;
}

.title-social {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-background);
}
.footer-soc-list {
  display: flex;
  gap: 10px;
  align-items: center;
}

.footer-box {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  align-items: center;
}

.footer-social {
  margin-left: 70px;
  margin-right: 93px;
}

.footer-icon {
  fill: var(--primary-background);
}

.footer-soc-link:hover,
.footer-soc-link:focus {
  background-color: var(--accent-color);
}

.footer-soc-link {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

-----------/* FOOTER SUBMIT */-------------
.footer-submit {
  margin-left: 93px;
}

.footer-submit-text {
  padding: 20px 0px 10px 0px;
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.14px;
  text-transform: uppercase;

  color: var(--primary-background);
}

.footer-submit-input {
  width: 358px;
  margin: 0;
  padding: 15px 16px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: var(--hero-footer-background);
  color: rgba(255, 255, 255, 0.6);
}

.footer-submit-input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.footer-submit-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  border: none;
  margin: 0;
  padding: 10px 0;
  border-radius: 4px;
  width: 200px;
  fill: var(--primary-background);

  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: var(--primary-background);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  cursor: pointer;
}

.footer-submit-form {
  display: flex;
  align-items: center;
  gap: 12px;
}

/*Скрытие заголовка которого нет на макете  */
.title-visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* ----------Modal windows---------- */
.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  padding: 40px;
  margin: auto;
  background-color: var(--primary-background);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: translate(-50%, -50%);
  transition-duration: 250ms;
  transition-property: scale(1);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-bnt {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  border-radius: 50%;
  background-color: var(--primary-background);
  border: 1px solid rgba(0, 0, 0, 0.1);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-bnt:hover,
.modal-close-bnt:focus {
  fill: var(--accent-color);
}

/* ----------MODAL FORM ---------- */
.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 12px;
  color: var(--primary-text-color);
}
.modal-field {
  margin-bottom: 10px;
}

.modal-label span {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
}

.form-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 12px;
  color: var(--primary-text-color);
}

.input-wrap {
  position: relative;
}

.modal-input {
  display: block;
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  outline: transparent;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:hover,
.modal-input:focus {
  border-color: var(--accent-color);
}

.modal-icon {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:hover + .modal-icon,
.modal-input:focus + .modal-icon {
  fill: var(--accent-color);
}

.modal-field-text {
  margin-bottom: 20px;
  display: block;
}

.modal-text {
  padding: 12px 16px;
  width: 448px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-text:hover,
.modal-text:focus {
  border-color: var(--accent-color);
}

.checkbox-text {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.checkbox-text span {
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 3px;
  margin-right: 7px;
  fill: transparent;
}
.modal-field-check {
  margin-bottom: 30px;
}

.input-check:checked + .checkbox-text span {
  background-color: var(--accent-color);
  border: none;
  fill: var(--primary-background);
}

.modal-text::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.privacy-linck {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.submit-btn {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 50px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: solid var(--accent-color);
  border-radius: 4px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  align-items: center;
  text-align: center;
  cursor: pointer;
  letter-spacing: 0.06em;
  color: var(--primary-background);
  transition-property: background-color, outline;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.submit-btn:hover,
.submit-btn:focus {
  background-color: #188ce8;
  outline: #188ce8;
}

/* ----------PORTFOLIO.html---------- */
.portfolio-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio-list {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}
.button-item:not(:last-child) {
  margin-right: 8px;
}

.button-item:hover,
.button-item:focus {
  /* box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  background: #ffffff;
  border: 1px solid #eeeeee; */
}

.portfolio-btn {
  display: inline-flex;
  min-width: 73px;
  padding: 6px 22px;

  color: #212121;
  background-color: var(--sedondary-background);
  box-shadow: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  border-radius: 4px;
  border-width: 0px;

  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  background-color: var(--accent-color);
  color: var(--primary-background);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-decoration: none;
}
.portfilio-text {
  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: -15px;
}

.portfolio-item {
  width: 370px;
  margin: 15px;
}

.overlay-text {
  position: absolute;
  top: 0;
  height: 100%;
  padding: 63px 24px;

  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: var(--primary-background);
  background-color: rgba(33, 150, 243, 0.9);
  overflow: hidden;

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-portfolio:hover .overlay-text,
.link-portfolio:focus .overlay-text {
  transform: translateY(0);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-overlay {
  position: relative;
  overflow: hidden;
}

.portfolio-card {
  border-left: 1px solid #ececec;
  border-right: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
  background-color: var(--primary-background);
  width: 370px;
  padding: 20px 24px;
}

.link-portfolio {
  cursor: pointer;
  display: block;
}

.link-portfolio:hover,
.link-portfolio:focus {
  /* background: #ffffff;
  border: 1px solid #eeeeee; */
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
