:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --primary-background: #ffffff;
  --sedondary-background: #f5f4fa;
  --hero-footer-background: #2f303a;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --accent-color: #2196f3;
  --background-icons: #f5f4fa;
}
